<ion-content class="ion-padding">
  <ion-list>
    <ion-item>
      <ion-select
        mode="ios"
        interface="action-sheet"
        placeholder="Change Language"
        (ionChange)="changeLan($event)"
      >
        <ion-select-option value="en"> English </ion-select-option>
        <ion-select-option value="gu"> Gujarati </ion-select-option>
        <ion-select-option value="hi"> Hindi </ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  @if (countriesList.length){ 
   @for (country of countriesList; track country.name) {
    <div class="country-card">
      <div class="country-flag-wrapper">
        <img
          [src]="country.countryImage"
          [alt]="country.name"
          class="country-flag"
          loading="lazy"
        />
      </div>
      <p class="country-name">
        {{ 'countries.' + slugify(country.name) | translate }}
      </p>
    </div>
    } 
  }
</ion-content>
